:root{
    --darkColor: rgb(21, 21, 21);
}

body{
    font-family: "articulat-cf", sans-serif;
}

header{
    padding-bottom: 15px;
    margin-bottom: 700px;
}

h1{
    margin: 0;
    font-size: 32pt;
    line-height: 32pt;
    padding-left: 25px;
    padding-top: 50px;
    padding-bottom: 10px;
    color: white;
    background-color: var(--darkColor);
}

h2{
    margin: 0;
    padding-left: 25px;
    padding-top: 15px;
    font-size: 20pt;
    font-weight: 100;
    color: var(--darkColor);
    background-color: white;
}

section{
    display: grid;
    grid-template-columns: 5fr 3fr 1fr;
    column-gap: 0px;
    margin-block: 500px;
}

.sectionTitle{
    align-self: end;
    padding-bottom: 0;
    padding-top: 25px;
}

h3{
    grid-column: 1;
    margin: 0;
    font-size: 32pt;
    padding-left: 25px;
    color: white;
    background-color: var(--darkColor);
}

h4{
    grid-column: 2;
    font-size: 20pt;
    line-height: 36pt;
    font-weight: 100;
    margin: 0;
    padding-inline: 25px ;
    color: var(--darkColor);
    background-color: white;
}

time{
    grid-column: 3;
    padding-inline: 25px;
    font-size: 20pt;
    line-height: 36pt;
    font-weight: 100;
    border-style: none none none solid;
    border-width: 1px;
    border-color: var(--darkColor);
    color: var(--darkColor);
    background-color: white;
}

hr{
    grid-column: 1/4;
    margin: 0;
    width: 100%;
    border-style: solid;
    border-width: 0.5px;
    border-color: var(--darkColor);
}

.vLine{
    border-style: none solid none none;
    border-width: 1px;
    border-color: var(--darkColor);
    grid-row: 3/5;
}

p{
    grid-column: 2/4;
    margin: 0;
    padding: 25px;
    font-size: 12pt;
    line-height: 20pt;
    color: var(--darkColor);
    background-color: white;
}

button{
    grid-column: 2;
    margin-top: 25px;
    margin-left: 25px;
    width: 200px;
    height: 50px;
    font-size: 12pt;
    color: var(--darkColor);
    background-color: rgb(255, 208, 0);
    border: none;
}

button:hover{
    background-color: rgb(255, 225, 89);
    cursor: pointer;
}

#allPics{
    z-index: -1;
    position: fixed;
    width: fit-content;
    top: 50%;
    left: 50%;
    transition: transform 1s ease-in-out;
}

img{
    position: absolute;
    width: 500px;
    margin-left:100px;
    transform-origin: left 50%;
    transform: translate(0,-50%);
}

#instrument1{
    transform: rotate(0deg);
}

#instrument2{
    transform: rotate(72deg);
}

#instrument3{
    transform: rotate(144deg);
}

#instrument4{
    transform: rotate(216deg);
}

#instrument5{
    transform: rotate(288deg);
}

.defaultPos{
    transform: scale(1) rotate(0);
}

.pic1{
    transform: translate(-900px,200px) scale(2.5) rotate(0);
}

.pic2{
    transform: translate(-900px,200px) scale(2.5) rotate(-72deg);
}

.pic3{
    transform: translate(-900px,200px) scale(2.5) rotate(-144deg);
}

.pic4{
    transform: translate(-900px,200px) scale(2.5) rotate(-216deg);
}

.pic5{
    transform: translate(-900px,200px) scale(2.5) rotate(-288deg);
}

.halftone1{
    visibility: hidden;
    transform: translate(-20px, -105px) scale(1.2) rotate(0);
}

.halftone2{
    visibility: hidden;
    transform: translate(-20px, -105px) scale(1.21) rotate(1deg);
    mix-blend-mode: difference;
    animation: wiggle 3s ease-in-out infinite;
}

@keyframes wiggle{
    0%{transform: translate(-20px, -105px) scale(1.21) rotate(0deg);}
    50%{transform: translate(-25px, -105px) scale(1.26) rotate(1deg);}
    100%{transform: translate(-20px, -105px) scale(1.21) rotate(0deg);}
}