body{
    max-width: 1000px;
    margin: auto;
    padding-inline: 40px;
    background-color: rgb(23, 23, 23);
    color: #e2e0ec;
}

header{
    position: absolute;
    top: 40px;
    width: 300px;
}

h1{
    font-family: "quiche-display", sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 90pt;
    line-height: 75pt;
}

h2{
    position: absolute;
    top:0px;
    left: -90px;
    transform: rotate(-30deg);
    font-family: Helvetica, sans-serif;
    font-size: 36pt;
    background-color: #4F36E0;
    border-radius: 10px;
    padding-inline: 20px;
    padding-block: 15px;
}

main{
    padding-top: 200px;
    font-family: Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

form{
    grid-column: 2;
    justify-self: center;
    width: 225px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 220px 220px;
    column-gap: 100px;
    padding: 50px;
    border: solid 1px #beb1ff;
    border-radius: 10px;
}

form section{
    position: relative;
    right: 0px;
    transition: right 0.5s ease-in-out;
}

.part1{
    right: 0px;
}

.part2{
    right: 320px;
}

input{
    display: block;
    justify-self: center;
    border: none;
    height: 25px;
    width: 200px;
    border-radius: 3px;
    padding-inline: 10px;
    margin-block: 10px;
    background-color: #beb1ff;
}

input:focus{
    box-shadow: 0 0 10px 5px #4F36E0;
}

button{
    width: 220px;
    height: 30px;
    margin-block: 10px;
    background: none;
    border: solid 1px;
    border-radius: 3px;
    color: #4F36E0;

}

button:hover{
    cursor: pointer;
    background-color: #231f3a;
    box-shadow: 0 0 10px 3px #4F36E0;
}

input[type="submit"]{
    width: 220px;
    height: 50px;
    margin-top: 10px;
    font-family: "quiche-display", sans-serif;
    font-weight: 300;
    background-color: #4F36E0;
    color: rgb(245, 245, 245);
    font-size: 20px;
}

input[type="submit"]:hover{
    cursor: pointer;
    background-color: #6951ec;
    box-shadow: 0 0 60px 10px #4F36E0;
}

#reading{
    position: absolute;
    align-self: center;
    justify-self: center;
    top: 15%;
    z-index: 2;
    margin-inline: 200px;
    font-family: "quiche-display", sans-serif;
    font-weight: 300;
    font-size: 32px;
    color: rgb(245, 245, 245);
    line-height: 48px;
    transition: opacity 3s ease-in-out 1s;
}

.hidden{
    visibility: hidden;
    opacity: 0;
}
.showing{
    visibility: visible;
    opacity: 1;
}

#ball, #shine{
    height:300px;
    width:300px;
    border-radius: 50%;
    top:0;
    left:0;
}

#ball{
    position: relative;
    justify-self: center;
    align-self: center;
    z-index: 1;
    height:300px;
    width:300px;
    border-radius: 50%;
    border: solid 5px #4d35d1;
    background:radial-gradient(rgb(67, 123, 255),#4F36E0, rgb(130, 0, 165),rgb(124, 0, 120));
    animation: gradScale 4s ease-in-out infinite;
    transition: transform 1s ease-in-out;
    box-shadow: 0 0 600px 40px rgb(79, 54, 224);
}

.readingMode{
    justify-self: center;
    transform: scale(8) translate(0%,0%);
}

.normalMode{
    justify-self: center;
    transform: scale(1) translate(0%,0%);
}

#shine{
    position:absolute;
    background: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.2),rgba(255,255,255,0));
    transform: rotate(30deg) scale(93%);
    mix-blend-mode: screen;
}

#ballHolder{
    position: relative;
    top: -150px;
    grid-column: 1;
    grid-row: 2;
    z-index: 2;
    justify-self: center;
    width: 400px;
    transition: opacity 0.5s ease-in;
}

@keyframes gradScale{
    0%{background-size: 100% 100%; background-position: 50% 50%;}
    50%{background-size: 150% 150%; background-position: 50% 50%;}
    100%{background-size: 100% 100%; background-position: 50% 50%;}
}